.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: grey;
}

.App-white-card {
  background: white;
  font-size: 15px;
  width: 50vw;
  height: 70vh;
  border-radius: 10px;
  padding: 10px 0px 0px 0px;
}
.App-logo {
  height: 40vh;
  pointer-events: none;
  border-radius: 10px;
}
.App-text-small {
  font-weight: 400;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.App-text {
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}
